# Directories
## Hidden Directories
.git/
.venv/
## Normal Directories
etc/
Include/
Lib/
share/
bin/
Scripts/
## Sandbox Subdirectories
Sandbox/__pycache__


# Files
Set-ExecutionPolicy
pyvenv.cfg
# 